
.image-preview-container {
    margin: 0 auto;
    padding: 0px;
    background-color: #e8f1f6;
    border-radius: 5px;
}

.image-preview-container img {
    /* width: 100%; */
    display: none;
    margin-bottom: 30px;
}
.image-preview-container input {
    display: none;
}

.image-preview-container label {
    display: block;
    width: 45%;
    height: 45px;
    margin-left: 25%;
    text-align: center;
    background: #8338ec;
    color: #fff;
    font-size: 15px;
    text-transform: Uppercase;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#preview-selected-image{
    height: 160px;
    margin-left: auto;
    margin-right: auto;
}

.buttonAddPhoto{
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: rgb(203, 214, 220);
    color: #306685;
    margin: 2em auto;
    height: 50px;
    width: 180px;
    text-align: center;
    border: none;
    border-radius: 60px;
    cursor: pointer;
}